table, tr, th, td {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
}

.vertCell {
    writing-mode:sideways-lr
}

table {
    table-layout: fixed;
}

.inProc {
    color: var(--blue);
}